OK|||||
@model List<Manager.Models.Product.CategoryModel>
@{
    string page_title = ViewBag.Depth.Equals("1") ? "대분류 입력" : "소분류 입력";
    string title = ViewBag.Depth.Equals("1") ? "대분류" : "소분류";    
}

<div style="width:600px; padding:20px;">

    <form name="InsCategory" id="InsCategory" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Depth" id="Depth" value="@ViewBag.Depth" />
        <div>
            <table style="width:100%">
                <tr>
                    <td class="left">
                        <img src="/images/bu_title.gif" style="vertical-align:middle" alt="icon" /> <strong>@page_title</strong>
                    </td>
                    <td class="ar">
                        <a href="javascript:closePop('popup')"><img src="/Images/img_pop_close.gif" style="width:14px;height:14px" alt="close" /></a>
                    </td>
                </tr>
            </table>
        </div>


        <div class="pContents">

            <div id="pContents" class="tb_layout_1" style="margin-top:0 !important; margin-bottom:30px !important;">
                <table>
                    <colgroup>
                        <col style="width: 150px;" />
                        <col style="width: 450px;" />
                    </colgroup>
                    <tbody>
                        @if (ViewBag.Depth.Equals("2"))
                        {
                            <tr>
                                <td class="title"><span class="required">대분류</span></td>
                                <td class="al pl20">
                                    <select name="categoryCode1" id="CategoryCode1" style="width:80%">
                                        <option value="">대분류선택</option>
                                        @foreach (var category1 in Model)
                                        {
                                            <option value="@category1.categorycode1">@category1.categoryname1</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="title"><span class="required">@title</span></td>
                            <td class="al pl20"><input type="text" name="categoryName" id="CategoryName" value="" maxlength="25" class="input_text" style="width:80%" onkeypress="if (event.keyCode == 13) { lay_CategoryAdd(); }" /></td>
                        </tr>
                        <tr>
                            <td class="title"><span class="required">게시여부</span></td>
                            <td class="al pl20">
                                <select name="displayFlag">
                                    <option value="Y">Y</option>
                                    <option value="N" selected="selected">N</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="posR mt20">
                <div class="ac">
                    <a href="javascript:lay_CategoryAdd()" class="btn-c"><span>입력</span></a>
                    <a href="javascript:closePop('popup')" class="btn-d" style="width:initial !important"><span>닫기</span></a>
                </div>
            </div>

        </div>

    </form>

</div>