@using Manager.Common;
@model Manager.Models.Manage.AdminGroupInAdminListModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";

    int loop = 0;
}
<script type="text/javascript" src="/js/manage/group/group.js?ver=@Func.GetNow()"></script>
<h3 class="h3" style="position:relative;">
    <span>그룹별 관리자 현황</span>
</h3>

<div class="filterArea">
    <div class="tb_layout_1">

        <table>
            <colgroup>
                <col style="width: 150px;" />
                <col style="width: auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <td class="title">검색조건</td>
                    <td>
                        <select name="GroupCode" id="GroupCode" onchange="adminlist();">
                            @foreach (var item in Model.AdminGroupList)
                            {
                                <option value="@item.groupcode" @if (item.groupcode == Model.groupcode) { @Html.Encode("selected") }>@item.groupname</option>
                            }
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="tb_data_1">
    <div class="tip"></div>
    <div class="btnRight3"></div>

    <table>
        <colgroup>
            <col style="width:  10%;" />
            <col style="width:  17%;" />
            <col style="width:  17%;" />
            <col style="width:  17%;" />
            <col style="width:  17%;" />
            <col style="width: auto;" />
        </colgroup>
        <thead>
            <tr>
                <th>No.</th>
                <th>이름</th>
                <th>아이디</th>
                <th>그룹</th>
                <th>핸드폰</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AdminList)
            {
                loop++;
                <tr>
                    <td>@loop</td>
                    <td>@item.adminname</td>
                    <td>@item.adminid</td>
                    <td>@item.groupname</td>
                    <td>@item.hp</td>
                    <td>@item.createdt.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="posR mt20">
    <div class="ac">
        <a href="javascript:self.close()" class="btn-d"><span>닫기</span></a>
    </div>
</div>
</div>
