@using Manager.Common
@model Manager.Models.Manage.AdminInfoModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<script type="text/javascript" src="/js/manage/admin/admin.js?ver=@Func.GetNow()"></script>
<style>
    .tab_table_nl {
        margin-top: 0 !important;
    }
</style>
<table class="tab_table_nl">
    <colgroup>
        <col style="width:150px;" />
        <col style="width:1px;" />
        <col style="width:150px;" />
        <col style="width:auto;" />
    </colgroup>
    <tbody>
        <tr>
            <td class="on "><a href="/manage/admin/popup/admininfo/@Model.AdminModel.adminid">관리자 정보</a></td>
            <td></td>
            <td class="off"><a href="/manage/admin/popup/loginlist/@Model.AdminModel.adminid">로그인 정보</a></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="tb_layout_1">
    <form name="form" id="form" method="post" action="/manage/admin/adminmodify">
        @Html.AntiForgeryToken()
        <input type="hidden" name="adminid" value="@Model.AdminModel.adminid" />
        <table>
            <colgroup>
                <col style="width: 150px;" />
                <col style="width:  auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <td class="title"><span class="required">아이디</span></td>
                    <td>@Model.AdminModel.adminid</td>
                </tr>

                <tr>
                    <td class="title"><span>비밀번호 재설정</span></td>
                    <td>
                        <a href="javascript:lay_PasswordModifyForm()" class="btn-c"><span>비밀번호 재설정</span></a>
                        &nbsp; 비밀번호 재설정시 비밀번호 오류 횟수 초기화 됨
                    </td>
                </tr>

                <tr>
                    <td class="title"><span>비밀번호 오류 횟수</span></td>
                    <td>@Model.AdminModel.pwderrcnt</td>
                </tr>
            </tbody>
        </table>
        <div style="height:15px"></div>


        <table class="sub_table">
            <colgroup>
                <col style="width: 150px;" />
                <col style="width: auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <td class="title"><span class="required">핸드폰번호</span></td>
                    <td>
                        <select name="hp1" id="HP1">
                            <option value="">선택</option>
                            <option value="010">010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option>
                        </select> -
                        <script>
                            $("#HP1").val('@Model.AdminModel.hp.Split('-')[0]');
                        </script>
                        <input type="text" name="hp2" id="HP2" maxlength="4" value="@Model.AdminModel.hp.Split('-')[1]" class="input_text" onkeydown="fn_numbersonly(event)" style="width: 60px;" /> -
                        <input type="text" name="hp3" id="HP3" maxlength="4" value="@Model.AdminModel.hp.Split('-')[2]" class="input_text" onkeydown="fn_numbersonly(event)" style="width: 60px;" />

                        <a href="javascript:mod_AdminHP()" class="btn-c"><span>수정</span></a>
                        &nbsp; 핸드폰번호를 수정하시면 로그인시 본인인증을 다시 하셔야 됩니다.

                        <input type="hidden" name="O_HP1" value="@Model.AdminModel.hp.Split('-')[0]" />
                        <input type="hidden" name="O_HP2" value="@Model.AdminModel.hp.Split('-')[1]" />
                        <input type="hidden" name="O_HP3" value="@Model.AdminModel.hp.Split('-')[2]" />
                    </td>
                </tr>
                <tr>
                    <td class="title"><span>본인인증</span></td>
                    <td>
                        @if (Model.AdminModel.authflag.Equals("Y"))
                        {
                            @Html.Raw("본인인증 완료")
                        }
                        else
                        {
                            @Html.Raw("본인인증 안됨")
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="height:15px"></div>


        <table class="sub_table">
            <colgroup>
                <col style="width: 150px;" />
                <col style="width: auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <td class="title"><span class="required">그룹</span></td>
                    <td>
                        <select name="groupcode" id="GroupCode" style="width:150px">
                            @foreach (var group in Model.AdminGroupList)
                            {
                                <option value="@group.groupcode" @if (Model.AdminModel.groupcode == group.groupcode) { @Html.Encode("selected") }>@group.groupname</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="title"><span class="required">이름</span></td>
                    <td><input type="text" name="name" id="AdminName" maxlength="10" value="@Model.AdminModel.adminname" class="input_text" style="width: 150px;" /></td>
                </tr>
                <tr>
                    <td class="title"><span>등록정보</span></td>
                    <td>
                        @Model.AdminModel.createid / @Model.AdminModel.createip / @Model.AdminModel.createdt.ToString("yyyy-MM-dd HH:mm:ss")
                    </td>
                </tr>

                @if (!Model.AdminModel.updateid.IsEmpty())
                {
                    <tr>
                        <td class="title"><span>마지막수정</span></td>
                        <td>
                            @Model.AdminModel.updateid / @Model.AdminModel.updateip / @Model.AdminModel.updatedt.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>

<div class="posR mt20">
    <div class="ac">
        @if (ViewBag.Permission.isWrite)
        {
            <a href="javascript:mod_Admin()" class="btn-c"><span>수정</span></a>
            <a href="javascript:del_Admin()" class="btn-c"><span>삭제</span></a>

        }
        <a href="javascript:self.close()" class="btn-d"><span>닫기</span></a>
    </div>
</div>